@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Times New Roman', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #4A4A4A;
}

.index-body {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05)), 
    url('https://github.com/kayawoods/dailyreflect/blob/main/Untitled%20design%20(6).png?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; 
    min-height: 100vh;
    width: 100vw;
    color: #5A5A5A;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 

  }
  
  .main-header {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.3);
   
  }
  
  .subheader {
    font-family: 'Playfair Display', serif; 
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.4em;
    font-style: italic; 
    
  }
  
  .index-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .auth-links {
    display: flex;
   gap: 20px; 
   justify-content: center; 
   align-items: center; 
   margin-top: 20px; 
  }
  
  .signup-link,
  .signin-link {
    font-size: 1.2em; 
    padding:L 12px 20px; 
    border-radius: 30px; 
    width: auto; 
    min-width: 130px; 
    text-align: center; 
    transition: all 0.3 ease-in-out; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .signup-link {
    background-color: #ce4866;
    color: white;
    margin: 0 0 20px 0;
    padding: 7px; 
  }
  
  .signup-link:hover {
    background-color: #ff5378;
    transform: translateY(-2px);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .signin-link {
    background-color: #ce4866;
    color: white;
    margin: 20px 0 0 0;
    padding: 7px; 
  }
  
  .signin-link:hover {
    background-color: #ff5378;
    transform: translateY(-2px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .main-header, .subheader, .auth-links {
    opacity: 0; 
    animation: fadeIn 1.5s ease-in-out forwards; 
  }

  @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-10px); }
    100% {opacity: 1; transform: translateY(0);}
  }

  .signin-container,
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; 
  background: url('https://github.com/kayawoods/dailyreflect/blob/main/Untitled%20design%20(7).png?raw=true') no-repeat center; 
}

h1 {
  color: #1c2e5b;
  font-family: 'Playfair Display', serif; 
  font-size: 2.4em; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px; 
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 22em;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px 40px; 
  border-radius: 12px;
  color: #1c2e5b; 
  font-weight: bold;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1); 
}

input {
  border: 2px solid rgb(182, 182, 182);
  padding: 10px;
  border-radius: 10px;
  font-size: 1em; 
  transition: all 0.3s ease-in-out; 
}

button {
  padding: 10px;
  background-color: #ce4866;
  color: white;
  border-radius: 30px;
  border: none;
  margin: 15px 0;
  font-size: 1.1em;
}
.all-entrys-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .all-entrys-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 90%;
  }
  
  .add-entry-link {
    padding: 10px;
    background-color: #ce4866;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 1.1em;
    padding: 2px 25px;
    text-decoration: none;
  }
  
  .add-entry-link:hover {
    background-color: #e84a6c;
  }
  ul {
    list-style: none;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  ul > a {
    text-decoration: none;
    color: #1c2e5b;
    width: 50%;
    background-color: #f6e7e7;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 15px 0;
    font-weight: bold;
    text-align: center;
  }
  
  ul > a:hover {
    background-color: #4b598e;
    color: white;
  }
  .new-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .new-body > form,
  .edit-body > form {
    height: 70%;
  }
  
  textarea,
  select {
    border: 1px solid rgb(182, 182, 182);
    border-radius: 10px;
    padding: 10px;
  }
  
  select {
    margin-bottom: 10px;
  }
  
  .edit-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
