<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Users Index</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="community-body">
      <h1 class="community-header">Explore Our Community</h1>

      <div class="community-container"> 
        <ul class="community-list">
          <% users.forEach(communityUser => { %>
            <li class="community-user">
              <a href="/users/<%= user._id %>/users/<%= communityUser._id %>">
                <%= communityUser.username %>
              </a>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>