<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Entrys</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= user.username %>'s Entrys</h1>

    <% if (entrys && entrys.length > 0) { %>
        <ul>
            <% entrys.forEach(entry => { %>
                <% if (entry.public === "Share") { %> 
                    <li><%= entry.entry %></li>
                <% } %> 
            <% }); %> 
    <% } else { %>
        <p>No Entrys</p>
    <% } %>

    <a href="/">Back to My Entrys</a>
  </body>
</html>
